/* Inter - 400 */

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Inter-Regular.ttf");
}

/* Inter - 500 */

@font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url("../assets/fonts/Inter-Medium.ttf");
}

/* Inter - 600 */

@font-face {
    font-family: "Inter";
    font-weight: 600;
    src: url("../assets/fonts/Inter-SemiBold.ttf");
}

/* Inter - 700 */

@font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url("../assets/fonts/Inter-Bold.ttf");
}

/* Inter - italic */

@font-face {
    font-family: "Inter";
    font-style: italic;
    src: url("../assets/fonts/Inter-Italic.otf");
}

/* main style */

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    line-height: 19px;
    font-family: "Inter", sans-serif;
}

.page-wrapper {
    max-width: 1500px;
    padding: 0 50px;
    margin: 0 auto;
}

a {
    color: #008CF0;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #F36223;
}

a:active {
    color: #A93A09;
}

/* header style */

.header {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    padding: 0 50px;
    margin: 0 auto;
    inset: auto 0;
    background-color: #FFFFFF;
    opacity: 0.9;
}

.basket-content {
    position: relative;
    top: 10px;
    display: flex;
    gap: 20px;
    padding: 10px;
}

.like input {
    display: none;
}

.like label svg {
    fill: #888888;
    cursor: pointer;
}

.like label:hover svg {
    fill: #F36223;
}

.like label:active svg {
    fill: #A93A09;
}

.like__count {
    position: absolute;
    top: 2px;
    left: calc(100% - 90px);
    padding: 3px 5px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 50%;
}

.shopping-cart svg {
    fill: #888888;
    cursor: pointer;
}

.shopping-cart svg:hover {
    fill: #F36223;
}

.shopping-cart svg:active {
    fill: #A93A09;
}

.shopping-cart__count {
    position: absolute;
    top: 2px;
    left: calc(100% - 25px);
    padding: 3px 5px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 50%;
}

/* breadcrumbs style */

.breadcrumbs {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    padding: 8px 0;
}

.page-wrapper__breadcrumbs {
    margin-top: 10px;
    padding-top: 90px;
}

/* wrapper style */

.main-wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
}

.characteristic-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
    flex-shrink: 1;
}

.aside-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 0;
    flex-shrink: 0;
}

/* product information style */

.product-info__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 39px;
}

.product-info__gallery {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.product-info__gallery img {
    height: 387px;
}

/* characteristic-section style */

.characteristic-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.characteristic-section__title {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
}

.color-choice__list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
}

.color-choice__item img {
    height: 60px;
}

.color-choice__item input[type=radio] {
    display: none;
}

.color-choice__item label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.color-choice__item:hover {
    background-color: #F2F2F2;
}

.color-choice__item input[type=radio]:checked+label {
    border: 2px solid #F36223;
}

.color-choice__item input[type=radio]:active+label {
    border: 2px solid #A93A09;
}

.memory-choice__list {
    display: flex;
    gap: 10px;
    list-style: none;
}

.memory-choice__item span {
    display: block;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}

.memory-choice__item input[type=radio] {
    display: none;
}

.memory-choice__item span:hover {
    background-color: #F2F2F2;
}

.memory-choice__item input[type=radio]:checked+label>span {
    border: 1px solid #F36223;
    outline: 1px solid #F36223;
}

.memory-choice__item input[type=radio]:active+label>span {
    border: 1px solid #A93A09;
    outline: 1px solid #A93A09;
}

.characteristic-section__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}

.characteristic-section__list li {
    list-style-image: url(../assets/img/marker.svg);
    margin-left: 15px;
    padding-left: 5px;
}

/* comparison-section style */

.characteristic-wrapper__comparison-section {
    margin-bottom: 20px;
}

.comparison-section__title {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
}

.comparison-table {
    min-width: 100%;
    border: 1px solid #888888;
    border-collapse: collapse;
}

.comparison-table th,
.comparison-table td {
    padding: 9px;
}

.comparison-table th {
    border-bottom: 1px solid #888888;
    text-align: center;
}

.comparison-table th,
.comparison-table td {
    border-right: 1px solid #888888;
}

.comparison-table tbody tr:hover {
    background-color: #F2F2F2;
}

/* description-section style */

.description-section__title {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
}

.description-section__text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 500;
}

/* review-section style */

.characteristic-wrapper__review-section {
    margin-bottom: 100px;
}

.review-section__header {
    display: flex;
    margin-bottom: 25px;
}

.review-section__title {
    font-size: 24px;
    line-height: 29px;
    margin-right: 10px;
}

.review-section__count {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #888888;
}

.review-section__list {
    list-style: none;
    margin-bottom: 60px;
}

.review {
    display: flex;
    gap: 30px;
}

.review:not(:first-child) {
    padding-top: 40px;
}

.review__text {
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px dashed #888888;
}

.review:last-child .review__text {
    padding-bottom: 0;
    border-bottom: none;
}

.review__img img {
    width: 140px;
}

.review__name {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
}

.review__raiting {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.review__raiting:not(:checked)>input {
    display: none;
}

.review__raiting:not(:checked)>label {
    width: 30px;
    height: 30px;
    background: url(../assets/img/star-not-active.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}

.review__raiting>input:checked~label {
    width: 30px;
    height: 30px;
    background: url(../assets/img/star-active.png) no-repeat;
    background-size: cover;
}

.review__raiting:not(:checked)>label:hover,
.review__raiting:not(:checked)>label:hover~label {
    background: url(../assets/img/star-active.png) no-repeat;
    background-size: cover;
}

.review__raiting>input:checked+label:hover,
.review__raiting>input:checked+label:hover~label,
.review__raiting>input:checked~label:hover,
.review__raiting>input:checked~label:hover~label,
.review__raiting>label:hover~input:checked~label {
    background: url(../assets/img/star-active.png) no-repeat;
    background-size: cover;
}

.review__parameter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    line-height: 17px;
}

.review-section__form-title {
    padding-left: 170px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
}

.review-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 170px;
}

.review-form input,
.review-form textarea {
    padding: 15px 20px;
    border: 1px solid #888888;
    outline: none;
}

.review-form input:focus,
.review-form input:hover,
.review-form textarea:focus,
.review-form textarea:hover {
    border: 1px solid #000000;
}

.review-form::placeholder {
    color: #888888;
}

.review-form__first-line {
    display: flex;
    gap: 40px;
    width: 100%;
}

.review-form__name-block {
    position: relative;
    flex-grow: 1;
}

.review-form__rating-block {
    position: relative;
    width: 175px;
    flex-grow: 0;
}

.review-form__name-block input {
    width: 100%;
}

.review-form__rating-block input {
    width: 100%;
}

.review-form textarea {
    width: 100%;
    height: 190px;
    resize: none;
}

.review-form__button {
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #F36223;
    border: 1px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
}

.review-form__button:hover {
    background-color: #DA4A0C;
}

.review-form__button:active {
    background-color: #A93A09;
}

.new-line {
    display: block;
}

.error {
    position: absolute;
    z-index: 1;
    top: 100%;
    padding: 8px 20px;
    background-color: #DA4A0C;
    outline: none;
    color: #FFFFFF;
}

.name-error {
    visibility: hidden;
    width: 100%;
    flex-grow: 1;
}

.rating-error {
    visibility: hidden;
    width: 175px;
    flex-grow: 0;
}

/* offer style */

.offer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px 0px #0000001A;
    border-radius: 20px;
}

.offer__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.offer__price {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}

.offer__price_original {
    line-height: 16px;
    color: #888888;
}

.offer__price_value-discount {
    display: inline-block;
    text-align: center;
    padding: 4px 8px;
    margin-left: 10px;
    line-height: 16px;
    color: #ffffff;
    background-color: #F36223;
    border-radius: 500px;
}

.offer__price_discount {
    font-size: 32px;
    line-height: 39px;
}

.offer__like input {
    display: none;
}

.offer__like label svg {
    fill: #888888;
    cursor: pointer;
}

.offer__like label:hover svg {
    fill: #F36223;
}

.offer__like label:active svg {
    fill: #A93A09;
}

.offer__shipping {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.add-to-basket {
    width: 100%;
}

.add-to-basket__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    background-color: #F36223;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-basket__button::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../assets/img/cart.svg) no-repeat center center;
    background-size: contain;
}

.add-to-basket__button:hover {
    background-color: #DA4A0C;
}

.add-to-basket__button:active {
    background-color: #A93A09;
}

/* footer style */

.footer {
    padding: 0 50px;
    background-color: #F2F2F2;
}

.footer-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info {
    font-size: 14px;
    line-height: 17px;
}

.footer__info p:first-of-type {
    font-weight: 700;
}

.company-name {
    color: #FF5722;
}

/* iframes style */

.promotion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}

.promotion__frame {
    width: 420px;
    height: 300px;
    border: 1px dashed #888888;
}

/* @media */

@media (max-width: 1499px) {
    .page-wrapper {
        padding: 0 15px;
    }

    .header {
        padding: 0 15px;
    }

    .footer {
        padding: 0 15px;
    }

    .footer-wrapper {
        max-width: 100%;
    }

    .main-wrapper {
        gap: 40px;
    }

    .product-info__gallery img {
        height: 272px;
    }

    .comparison-section {
        display: none;
    }

    .review__img img {
        width: 100px;
    }

    .review__raiting:not(:checked)>label {
        width: 20px;
        height: 20px;
    }

    .review__raiting>input:checked~label {
        width: 20px;
        height: 20px;
    }

    .review-section__list {
        margin-bottom: 50px;
    }

    .review-section__form-title {
        padding-left: 0;
    }

    .review-form {
        padding-left: 0;
    }

    .aside-wrapper,
    .promotion__frame {
        width: 360px;
    }

    .characteristic-wrapper__review-section {
        margin-top: 14px;
        margin-bottom: 80px;
    }
}

@media (max-width: 1023px) {
    body {
        font-size: 14px;
        line-height: 17px;
    }

    .page-wrapper {
        padding: 0 10px;
    }

    .header {
        padding: 0 10px;
    }

    .logo {
        width: 224px;
        height: auto;
    }

    .basket-content {
        top: 5px;
        gap: 15px;
        align-items: center;
        padding: 0;
    }

    .basket-content .like svg {
        width: 26px;
    }

    .basket-content .shopping-cart svg {
        width: 25px;
    }

    .page-wrapper__breadcrumbs {
        margin-top: 0px;
        padding-top: 65px;
    }

    .main-wrapper {
        max-width: 880px;
        gap: 30px;
        flex-direction: column;
    }

    .aside-wrapper {
        max-width: 338px;
    }

    .promotion {
        display: none;
    }

    .offer__price_original {
        font-size: 16px;
    }

    .offer__shipping {
        padding-bottom: 0px;
    }

    .add-to-basket__button {
        padding: 15px;
        font-size: 16px;
        line-height: 19px;
    }

    .product-info__title {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 29px;
    }

    .characteristic-wrapper {
        gap: 20px;
    }

    .characteristic-section {
        gap: 20px;
    }

    .characteristic-section__title {
        font-size: 14px;
        line-height: 17px;
    }

    .characteristic-section__list li {
        list-style-image: url(../assets/img/marker-mini.svg);
    }

    .color-choice__list {
        gap: 8px;
    }

    .color-choice__item img {
        height: 50px;
    }

    .color-choice__item label {
        width: 60px;
        height: 60px;
    }

    .memory-choice__item span {
        font-size: 16px;
        line-height: 19px;
    }

    .description-section {
        padding-left: 1px;
        padding-right: 1px;
    }

    .description-section__title {
        font-size: 14px;
        line-height: 17px;
    }

    .comparison-section__title {
        font-size: 14px;
        line-height: 17px;
    }

    .characteristic-wrapper__review-section {
        margin-top: 20px;
        margin-bottom: 40px;
        padding-left: 5px;
    }

    .review-section__header {
        margin-bottom: 20px;
    }

    .review-section__title {
        font-size: 20px;
        line-height: 24px;
    }

    .review-section__count {
        font-size: 20px;
        line-height: 24px;
    }

    .review-section__list {
        margin-bottom: 40px;
    }

    .review-form__button {
        padding: 9px 15px;
        font-size: 14px;
        line-height: 17px;
    }

    .review {
        position: relative;
        gap: 0px;
    }

    .review__img img {
        position: absolute;
        width: 60px;
    }

    .review__name {
        padding-left: 75px;
    }

    .review__raiting {
        padding-left: 75px;
    }

    .review:not(:first-child) {
        padding-top: 30px;
    }

    .review__text {
        padding-bottom: 30px;
    }

    .review-form {
        max-width: 400px;
        flex-direction: column;
        gap: 15px;
    }

    .review-form input,
    .review-form textarea {
        padding: 10px 15px;
    }

    .review-form__first-line {
        flex-direction: column;
        gap: 15px;
    }

    .review-form__rating-block {
        width: 100%;
    }

    .rating-error {
        width: 100%;
    }

    .footer {
        padding: 0 10px;
    }

    .footer-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 20px 0;
    }

    .footer__to-top {
        font-size: 16px;
        line-height: 19px;
    }

    .footer .new-line {
        display: inline;
    }
}