.page-404-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 111px;
}

.content-404 {
    display: flex;
    gap: 20px;
    text-align: center;
    margin-bottom: 100px;
}

.content-404__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    line-height: 24px;
}

.content-404__img img {
    max-width: 400px;
    height: auto;
}

@media (max-width: 1023px) {
    .content-404 {
        flex-direction: column;
        margin-bottom: 60px;
    }

    .content-404__text {
        font-size: 17px;
        line-height: 20px;
    }

    .content-404__img img {
        max-width: 300px;
        height: auto;
    }
}