.add-to-basket {
    width: 100%;
}

.add-to-basket__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    background-color: #F36223;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-basket__button button {
    background-color: #F36223;
}

.add-to-basket__button::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../../../public/img/cart.svg) no-repeat center center;
    background-size: contain;
}

.add-to-basket__button:hover {
    background-color: #DA4A0C;
}

.add-to-basket__button:active {
    background-color: #A93A09;
}

.add-to-basket .add-to-basket__button_actived {
    background-color: #888888;
}

@media (max-width: 1023px) {
    .add-to-basket__button {
        padding: 15px;
        font-size: 16px;
        line-height: 19px;
    }
}