.review {
    display: flex;
    gap: 30px;
}

.review:not(:first-child) {
    padding-top: 40px;
}

.review__text {
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px dashed #888888;
}

.review:last-child .review__text {
    padding-bottom: 0;
    border-bottom: none;
}

.review__img img {
    width: 140px;
}

.review__name {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
}

.review__raiting {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.review__raiting:not(:checked) > input {
	display: none;
}

.review__raiting:not(:checked) > label {
    width: 30px;
    height: 30px;
    background: url(../../../public/img/star-not-active.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}

.review__raiting > input:checked ~ label {
    width: 30px;
    height: 30px;
    background: url(../../../public/img/star-active.png) no-repeat;
    background-size: cover;
}

.review__raiting:not(:checked) > label:hover,
.review__raiting:not(:checked) > label:hover ~ label {
    background: url(../../../public/img/star-active.png) no-repeat;
    background-size: cover;
}

.review__raiting > input:checked + label:hover,
.review__raiting > input:checked + label:hover ~ label,
.review__raiting > input:checked ~ label:hover,
.review__raiting > input:checked ~ label:hover ~ label,
.review__raiting > label:hover ~ input:checked ~ label {
    background: url(../../../public/img/star-active.png) no-repeat;
    background-size: cover;
}

.review__parameter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    line-height: 17px;
}

.new-line {
    display: block;
}

@media (max-width: 1499px) {
    .review__img img {
        width: 100px;
    }
    
    .review__raiting:not(:checked) > label {
        width: 20px;
        height: 20px;
    }

    .review__raiting > input:checked ~ label {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 1023px) {
    .review {
        position: relative;
        gap: 0px;
    }

    .review__img img {
        position: absolute;
        width: 60px;
    }

    .review__name {
        padding-left: 75px;
    }

    .review__raiting {
        padding-left: 75px;
    }

    .review:not(:first-child) {
        padding-top: 30px;
    }

    .review__text {
        padding-bottom: 30px;
    }
}