.product-info__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 39px;
}

.product-info__gallery {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.product-info__gallery img {
    height: 387px;
}

@media (max-width: 1499px) {
    .product-info__gallery img {
        height: 272px;
    }
}

@media (max-width: 1023px) {
    .product-info__title {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 29px;
    }
}