.memory-choice__item span {
    display: block;
    padding: 10px 20px;
    background: transparent;
    border: 1px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}

.memory-choice__item input[type=radio] {
	display: none;
}

.memory-choice__item span:hover {
    background-color: #F2F2F2;
}

.memory-choice__item input[type=radio]:checked + label > span {
    border: 1px solid #F36223;
    outline: 1px solid #F36223;
}

.memory-choice__item input[type=radio]:active + label > span {
    border: 1px solid #A93A09;
    outline: 1px solid #A93A09;
}

@media (max-width: 1023px) {
    .memory-choice__item span {
        font-size: 16px;
        line-height: 19px;
    }
}