.title {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 500;
}

@media (max-width: 1023px) {
    .description {
        padding-left: 1px;
        padding-right: 1px;
    }
    
    .title {
        font-size: 14px;
        line-height: 17px;
    }
}