.footer {
    padding: 0 50px;
    background-color: #F2F2F2;
}

.footer-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info {
    font-size: 14px;
    line-height: 17px;
}

.footer__info p:first-of-type {
    font-weight: 700;
}

.company-name {
    color: #FF5722;
}

/* @media */

@media (max-width: 1499px) {
    .footer {
        padding: 0 15px;
    }

    .footer-wrapper {
        max-width: 100%;
    }
}

@media (max-width: 1023px) {
    .footer {
        padding: 0 10px;
    }
  
    .footer-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 20px 0;
    }
  
    .footer__to-top {
        font-size: 16px;
        line-height: 19px;
    }

    .footer .new-line {
        display: inline;
    }
  }