/* Inter - 400 */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/Inter-Regular.ttf");
}

/* Inter - 500 */

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("../public/fonts/Inter-Medium.ttf");
}

/* Inter - 600 */

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("../public/fonts/Inter-SemiBold.ttf");
}

/* Inter - 700 */

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("../public/fonts/Inter-Bold.ttf");
}

/* Inter - italic */

@font-face {
  font-family: "Inter";
  font-style: italic;
  src: url("../public/fonts/Inter-Italic.otf");
}

/* main style */

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root {
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", sans-serif;
}

.mega-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-wrapper {
  width: 100%;
  max-width: 1500px;
  padding: 0 50px;
  margin: 0 auto;
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

a {
  color: #008CF0;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #F36223;
}

a:active {
  color: #A93A09;
}

@media (max-width: 1499px) {
  .page-wrapper {
    padding: 0 15px;
  }
}

@media (max-width: 1023px) {
  body {
      font-size: 14px;
      line-height: 17px;
  }

  .page-wrapper {
      padding: 0 10px;
  }
}