.promotion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}

.promotion__frame {
    width: 420px;
    height: 300px;
    border: 1px dashed #888888;
}

@media (max-width: 1499px) {
    .promotion__frame {
        width: 360px;
    }
}

@media (max-width: 1023px) {
    .promotion {
        display: none;
    }
}