.header {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    padding: 0 50px;
    margin: 0 auto;
    inset: auto 0;
    background-color: #FFFFFF;
    opacity: 0.9;
}

.basket-content {
    position: relative;
    top: 10px;
    display: flex;
    gap: 20px;
    padding: 10px;
}

.like input {
    display: none;
}

.like label svg {
    fill: #888888;
    cursor: pointer;
}

.like label:hover svg {
    fill: #F36223;
}

.like label:active svg {
    fill: #A93A09;
}

.like__count {
    position: absolute;
    top: 2px;
    left: calc(100% - 90px);
    padding: 3px 5px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 50%;
}

.like__count_actived {
    background-color: #F36223;
}

.shopping-cart svg {
    fill: #888888;
    cursor: pointer;
}

.shopping-cart svg:hover {
    fill: #F36223;
}

.shopping-cart svg:active {
    fill: #A93A09;
}

.shopping-cart__count {
    position: absolute;
    top: 2px;
    left: calc(100% - 25px);
    padding: 3px 5px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 50%;
}

.shopping-cart__count_actived {
    background-color: #F36223;
}

/* @media */

@media (max-width: 1499px) {
    .header {
        padding: 0 15px;
    }
}

@media (max-width: 1023px) {
    .header {
        top: -5px;
        padding: 0 10px;
    }

    .logo {
        width: 224px;
        height: auto;
    }

    .basket-content {
        top: 5px;
        gap: 15px;
        align-items: center;
        padding: 0;
    }

    .basket-content .like svg {
        width: 26px;
    }

    .basket-content .shopping-cart svg {
        width: 25px;
    }

    .like__count_actived,
    .shopping-cart__count_actived {
        font-size: 0;
        height: 10px;
        border-radius: 50px;
    }

    .like__count {
        left: calc(100% - 50px);
        top: 4px;
    }

    .shopping-cart__count {
        top: 4px;
        left: calc(100% - 8px);
    }
}