.color-choice__item img {
    height: 60px;
}

.color-choice__item input[type=radio] {
	display: none;
}

.color-choice__item label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
}

.color-choice__item:hover {
    background-color: #F2F2F2;
}

.color-choice__item input[type=radio]:checked + label {
    border: 2px solid #F36223;
}

.color-choice__item input[type=radio]:active + label {
    border: 2px solid #A93A09;
}

@media (max-width: 1023px) {
    .color-choice__item img {
        height: 50px;
    }

    .color-choice__item label {
        width: 60px;
        height: 60px;
    }
}