.offer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px 0px #0000001A;
    border-radius: 20px;
}

.offer__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.offer__price {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}

.offer__price_original {
    line-height: 16px;
    color: #888888;
}

.offer__price_value-discount {
    display: inline-block;
    text-align: center;
    padding: 4px 8px;
    margin-left: 10px;
    line-height: 16px;
    color: #ffffff;
    background-color: #F36223;
    border-radius: 500px;
}

.offer__price_discount {
    font-size: 32px;
    line-height: 39px;
}

.offer__like input {
    display: none;
}

.offer__like label svg {
    fill: #888888;
    cursor: pointer;
}

.offer__like label:hover svg {
    fill: #F36223;
}

.offer__like label:active svg {
    fill: #A93A09;
}

.offer__shipping {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

@media (max-width: 1023px) {
    .offer__price_original {
        font-size: 16px;
    }

    .offer__shipping {
        padding-bottom: 0px;
    }
}