body {
    margin: 0;
    height: 100vh;
    background-color: #F0F0F0;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}