.main-wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
}

.characteristic-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
    flex-shrink: 1;
}

.aside-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 0;
    flex-shrink: 0;
}

@media (max-width: 1499px) {
    .main-wrapper {
        gap: 40px;
    }

    .aside-wrapper {
        width: 360px;
    }
}

@media (max-width: 1023px) {
    .main-wrapper {
        max-width: 880px;
        gap: 30px;
        flex-direction: column;
    }

    .characteristic-wrapper {
        gap: 20px;
    }

    .aside-wrapper {
        max-width: 338px;
    }
}