.characteristic-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.characteristic-section__title {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
}

.characteristic-section__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
}

.characteristic-section__list li {
    list-style-image: url(../../../public/img/marker.svg);
    margin-left: 15px;
    padding-left: 5px;
}

@media (max-width: 1023px) {
    .characteristic-section {
        gap: 20px;
    }

    .characteristic-section__title {
        font-size: 14px;
        line-height: 17px;
    }

    .characteristic-section__list li {
        margin-left: 8px;
        padding-left: 8px;
    }

    .characteristic-section__list li {
        list-style-image: url(../../../public/img/marker-mini.svg);
    }
}