.page-index-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 111px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.desktop-block {
    display: block;
}

@media (max-width: 1023px) {
    .page-index-wrapper {
        padding-top: 55px;
    }

    .desktop-block {
        display: inline;
    }

    .mobile-block {
        display: block;
    }
}