.characteristic-wrapper__comparison-section {
    margin-bottom: 20px;
}

.comparison-section__title {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
}

.comparison-table {
    min-width: 100%;
    border: 1px solid #888888;
    border-collapse: collapse;
}

.comparison-table th,
.comparison-table td {
    padding: 9px;
}

.comparison-table th {
    border-bottom: 1px solid #888888;
    text-align: center;
}

.comparison-table th,
.comparison-table td {
    border-right: 1px solid #888888;
}

.comparison-table tbody tr:hover {
    background-color: #F2F2F2;
}

@media (max-width: 1499px) {
    .comparison-section {
        display: none;
    }
}