.review-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 170px;
}

.review-form input,
.review-form textarea {
    padding: 15px 20px;
    border: 1px solid #888888;
    outline: none;
}

.review-form input:focus,
.review-form input:hover,
.review-form textarea:focus,
.review-form textarea:hover {
    border: 1px solid #000000;
}

.review-form::placeholder {
    color: #888888;
}

.review-form__first-line {
    display: flex;
    gap: 40px;
    width: 100%;
}

.review-form__name-block {
    position: relative;
    flex-grow: 1;
}

.review-form__rating-block {
    position: relative;
    width: 175px;
    flex-grow: 0;
}

.review-form__name-block input {
    width: 100%;
}

.review-form__rating-block input {
    width: 100%;
}

.review-form textarea {
    width: 100%;
    height: 190px;
    resize: none;
}

.review-form__button {
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #F36223;   
    border: 1px solid #888888;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
}

.review-form__button:hover {
    background-color: #DA4A0C;
}

.review-form__button:active {
    background-color: #A93A09;
}

.error {
    position: absolute;
    z-index: 1;
    top: 100%;
    padding: 8px 20px;
    background-color: #DA4A0C;
    outline: none;
    color: #FFFFFF;
}

.name-error {
    visibility: hidden;
    width: 100%;
    flex-grow: 1;
}

.rating-error {
    visibility: hidden;
    width: 175px;
    flex-grow: 0;
}

.error__active {
    visibility: visible;
}

.review-form__name-block .error__active,
.review-form__rating-block .error__active {
    border-color: #DA4A0C;
}

@media (max-width: 1499px) {
    .review-form {
        padding-left: 0;
    }
}

@media (max-width: 1023px) {
    .review-form {
        /* max-width: 400px; */
        flex-direction: column;
        gap: 15px;
    }

    .review-form input,
    .review-form textarea {
        padding: 10px 15px;
    }

    .review-form__first-line {
        flex-direction: column;
        gap: 15px;
    }

    .review-form__rating-block {
        width: 100%;
    }

    .review-form__button {
        padding: 9px 15px;
        font-size: 14px;
        line-height: 17px;
    }

    .rating-error {
        width: 100%;
    }
}