.characteristic-wrapper__review-section {
    margin-bottom: 100px;
}

.review-section__header {
    display: flex;
    margin-bottom: 25px;
}

.review-section__title {
    font-size: 24px;
    line-height: 29px;
    margin-right: 10px;
}

.review-section__count {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #888888;
}

.review-section__form-title {
    padding-left: 170px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
}

@media (max-width: 1499px) {
    .review-section__form-title {
        padding-left: 0;
    }

    .characteristic-wrapper__review-section {
        margin-top: 14px;
        margin-bottom: 80px;
    }
}

@media (max-width: 1023px) {
    .characteristic-wrapper__review-section {
        margin-top: 20px;
        margin-bottom: 40px;
        padding-left: 5px;
    }

    .review-section__header {
        margin-bottom: 20px;
    }
    
    .review-section__title {
        font-size: 20px;
        line-height: 24px;
    }

    .review-section__count {
        font-size: 20px;
        line-height: 24px;
    }
}