.breadcrumbs {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    padding: 8px 0;
}

.page-wrapper__breadcrumbs {
    margin-top: 10px;
    padding-top: 90px;
}

@media (max-width: 1023px) {
    .page-wrapper__breadcrumbs {
        margin-top: 0px;
        padding-top: 65px;
    }
}