.characteristic-section__title {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 19px;
}

.color-choice__list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
}

@media (max-width: 1023px) {
  .characteristic-section__title {
        font-size: 14px;
        line-height: 17px;
    }

    .color-choice__list {
        gap: 8px;
    }
}