.review-section__list {
    list-style: none;
    margin-bottom: 60px;
}

@media (max-width: 1499px) {
    .review-section__list {
        margin-bottom: 50px;
    }
}

@media (max-width: 1023px) {
    .review-section__list {
        margin-bottom: 40px;
    }
}